<<<<<<< HEAD
<meta charset="utf-8";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
=======
<<<<<<< HEAD
/*marca de agua*/
.agua:before {
    position: fixed;
    content: '';
    bottom: 2vh;
    right: 5vh;
    width: 56.77vh;
    height: 20vh;
    opacity: 0.10;
    background-image: url("../svg/w3c/css.svg");

  
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.portada{
    background-color: aqua;
    
}
=======
>>>>>>> 0ec68a677b9a5e458676f785488ca4038a36e552
/* Marca de agua */

. agua:before {
  position: fixed;
  content: '';
  bottom: 2vh;
  right: 5vh;
  width: 56.77vh;
  height: 20vh;
  opacity: 0.2;
  background-image: url("../svg/w3c/css.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

 /* Imagen banner de portada */
header.portada {
    width: 100%;
    height: 50vh;
    background-image: url('https://pixabay.com/es/photos/café-cafetería-libro-relajarse-3849103/');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Título centrado dentro de la imagen */
header.portada {
    position: relative;
}

header.portada h2 {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    background-color: rgba(0,0,0, 0.6);
    color: #ffffff;
}
<<<<<<< HEAD
/*maquetación*/
body main section{
    padding: 5vw;
}

    
/*estilos textos*/

/*tamño de los textos*/
html,body{
    font-size: 
px;}12px;

h1{font-size:0.5em; }
h2{font-size:2em; }
h3{font-size:1.8em; }
h4{font-size:1.6em;}
h5{font-size:1.5em; }
h6{font-size:1.1em; }
/*familia y colores*/

h1, h2, h3, h4, h5, h6{
    font-family: "DM serif Display, "Arial bold", serif;
        

}
text-transform:capitalize;
*{
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6, p,a,li,strong,q, frigcation,em, blockquote{
    font-family: "Monserrat", Vardana, Helvética, sans-serif;
    font-size: 16px;
    color: #557714;
    /*{font-size: 16px;*/
}

p, a, li, strong, span, figcaption, q, blockquiote{
    font-family: "Monserrat", Vardana, Heletica, sans-serif;
    font-size: 1em;
    /*color genérico*/
    color: #666666;
    }
/*interlineado*/
p{
    line-height: 1.5;
}
    
/*colores específicos*/
h2,strong{
    color: #AA3C39;
}
a{
    font-weight: bold;
    color: #557714;
}
figcaption{
   font-size: small;
    font-style: italic;
}
/*estilos para los párrafon que son notas*/
p.nota{
  padding: 1em;
  background-color: aquamarine;
    padding: 1em;
    border-left: 0.25em solid darkblue;
    border-radius: 5px;
   }

/*imágenes validadosres*/
/*reglas comunes a los tres validadores*/
figure.w3c.css{
 background-image: url(" ../svg/w3c/css.svg"); 

}
figure.w3c{
    width: 88px;
    height: 31px;
    background-position: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.footer__pie cross-fin{
   
    background-color: black;
    
}
h2.pechado{
    color: aqua;
    
}
.validator cross-fin{
    
}
article.imagen{
    width: 500px;
    height: 300px;
    background-color: blue;
  
    opacity: 0.5;
    }
article.imagen{
    position: relative;
}
article.imagen:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content:""; 
    background-image:    url('https://cdn.pixabay.com/photo/2018/12/01/08/37/coffee-3849103_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.5;
}
article.imagen h2,
article.imagen p {
    position: relative;
    text-align: center;
    color:white;
    }
article.imagen p{
    font-weight: blod;
    }




=======
>>>>>>> 78d4824e19f1992e8485d43cad1d32be5c1f5c5a
>>>>>>> 0ec68a677b9a5e458676f785488ca4038a36e552
