/*marca de agua*/
.agua:before {
    position: fixed;
    content: '';
    bottom: 2vh;
    right: 5vh;
    width: 56.77vh;
    height: 20vh;
    opacity: 0.10;
    background-image: url("../svg/w3c/css.svg");

  
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.portada{
    background-color: aqua;
    
}